@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;  /* Fixed typo from 'taiilwind' */


@layer base {
  @font-face {
    font-family: 'peckham';
    src: url('/fonts/peckhampress.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'opensaucefont';
    src: url('/fonts/opensaucefont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply fonts globally */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'peckham', sans-serif;
  }
  
  body, p, a, li, span, div {
    font-family: 'opensaucefont', sans-serif;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slider {
  animation: slide 20s linear infinite;
}