@import "tailwindcss";

@tailwind base;
@tailwind components;
@taiilwind utilities;


@layer base {
  @font-face {
    font-family: 'peckham';
    src: url('/fonts/peckhampress.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slider {
  animation: slide 20s linear infinite;
}